<h1 mat-dialog-title>Modify Channel Types</h1>
<div mat-dialog-content>
  <p>Channel {{ data.source }} -> {{ data.dest }}</p>
  <table mat-table>
    <th>
      <tr>
        <mat-form-field appearance="fill">
          <mat-label>Source Type Name</mat-label>
          <input matInput [(ngModel)]="data.sourceType.name">
        </mat-form-field>
      </tr>
      <tr>
        <mat-form-field appearance="fill">
          <mat-label>Source Type xmltype</mat-label>
          <input matInput [(ngModel)]="data.sourceType.xmltype">
        </mat-form-field>
      </tr>
      <tr>
        <mat-form-field appearance="fill">
          <mat-label>Source Type Typeset</mat-label>
          <input matInput [(ngModel)]="data.sourceType.typeset">
        </mat-form-field>
      </tr>
      <tr>
        <mat-form-field appearance="fill">
          <mat-label>Source Type Type</mat-label>
          <input matInput [(ngModel)]="data.sourceType.type">
        </mat-form-field>
      </tr>
    </th>
    <th>
      <tr>
      <mat-form-field appearance="fill">
        <mat-label>Dest Type Name</mat-label>
        <input matInput [(ngModel)]="data.destType.name">
      </mat-form-field>
    </tr>
    <tr>
      <mat-form-field appearance="fill">
        <mat-label>Dest Type xmltype</mat-label>
        <input matInput [(ngModel)]="data.destType.xmltype">
      </mat-form-field>
    </tr>
    <tr>
      <mat-form-field appearance="fill">
        <mat-label>Dest Type typeset</mat-label>
        <input matInput [(ngModel)]="data.destType.typeset">
      </mat-form-field>
    </tr>
    <tr>
      <mat-form-field appearance="fill">
        <mat-label>Dest Type Type</mat-label>
        <input matInput [(ngModel)]="data.destType.type">
      </mat-form-field>
    </tr>
    </th>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Exit</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>