<div id="graph" class="graph" (change)="createGraph()">
    <div class="node">
        <div id="{{ node.id }}" class="integrationNode" *ngFor="let node of nodes;">{{ node.id }}</div>
    </div>
</div>
<div class="channelTable">
    <div class="channel" *ngFor="let channel of channels; let i = index;">
        <textarea name="source_i" id="source_i" cols="30" rows="10" class="source">{{ channel.source }}</textarea>
        <div class="sourceType">
            <textarea name="current_dest_i" id="current_source_i" cols="30" rows="10"  class="sourceType">{{ channel.sourceType }}</textarea>
            <button class="addType">Edit</button>
        </div>
        <textarea name="dest_i" id="dest_i" cols="30" rows="10" class="dest">{{ channel.dest }}</textarea>
        <div class="destType">
            <textarea name="current_dest_i" id="current_dest_i" cols="30" rows="10"  class="destType">{{ channel.destType }}</textarea>
            <button class="addType">Edit</button>
        </div>
    </div>
</div>