<div id="graph" class="graph" (change)="createGraph()">
    <div class="nodeLine" *ngFor="let line of lines;">
        <div id="{{ node }}" [style] = "node < 0 ? 'visibility:hidden;' : ''" class="integrationNode" *ngFor="let node of line;">{{ node }}</div>
    </div>
</div>
<table class="channelTable">
    <div class="channel" *ngFor="let channel of channels; let i = index;">
        <tr>
            <th>
                <span name="source_i" id="source_i" cols="30" rows="10" class="source">{{ channel.source }}</span>
            </th>
            <th>
                <span name="current_dest_i" id="current_source_i" cols="30" rows="10">{{ channel.sourceType.toString() }}</span>
            </th>
            <th>
                <span name="dest_i" id="dest_i" cols="30" rows="10">{{ channel.dest }}</span>
            </th>
            <th>
                <span name="current_dest_i" id="current_dest_i" cols="30" rows="10">{{ channel.destType.toString()
                    }}</span>
            </th>
            <th>
                <button class="addType" (click)="openDialog(i)">Edit</button>
            </th>
        </tr>
    </div>
    <button class="analyze" (click)="analyzeArchitecture()">Analyze Architecture</button>
</table>