.channelTable, .channel {
  text-align: center;
  margin: auto;
}

.graph {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  padding: 30px 0px 30px 0px;
}

.node, .integrationNode {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  /* margin: auto; */
}

.integrationNode {
  width: 80px;
  height: 40px;
  color: #606266;
  background: #f6f6f6;
  border: 2px solid rgba(0, 0, 0, 0.05);
  text-align: center;
  line-height: 40px;
  font-family: 'Oswald', Helvetica;
  border-radius: 4px;
}

.node {
  display: flex;
}

.channelTable {
  /* border-collapse: collapse; */
  font-size: 0.9em;
  font-family: 'Oswald', Helvetica;
  min-width: 400px;
  border: 2px solid #000000;
  border-radius: 25px;
}

.channelTable .channel tr {
  background-color: #ffffff;
  color: #020202;
  text-align: left;
}

.channelTable .channel tr:last-of-type {
  border-bottom: 2px solid #ffffff;
}

.channelTable .channel tr.active-row {
  font-weight: bold;
  color: #ffffff;
}

.channelTable th {
  padding: 12px 15px;
}

span {
  width: 100px;
  height: 70px;
  margin-right: 5px;
  margin-left: 5px;
}

button {
  width: 150px;
  height: 40px;
  text-align: center;
  color: rgb(10, 7, 0);
  text-decoration: none;
  font-family: 'Oswald', Helvetica;
}

.analyze {
  margin-bottom: 10px;
}