<div id="graph" class="graph" (change)="createGraph()">
    <div class="node">
        <div id="{{ node.id }}" class="integrationNode" *ngFor="let node of nodes;">{{ node.id }}</div>
    </div>
</div>
<div class="channelTable">
    <div class="channel" *ngFor="let channel of channels; let i = index;">
        <span name="source_i" id="source_i" cols="30" rows="10" class="source">{{ channel.source }}</span>
        <span name="current_dest_i" id="current_source_i" cols="30" rows="10">{{ channel.sourceType }}</span>
        <span name="dest_i" id="dest_i" cols="30" rows="10">{{ channel.dest }}</span>
        <span name="current_dest_i" id="current_dest_i" cols="30" rows="10">{{ channel.destType }}</span>
        <button class="addType" (click)="openDialog(i)">Edit</button>
    </div>
    <button class="analyze" (click)="analyzeArchitecture()">Analyze Architecture</button>
</div>