.container, table {
    text-align: center;
    margin: auto;
}

textarea {
    width: 600px;
    height: 200px;
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: 'Oswald', Helvetica;
    background-position: bottom right;
    background-repeat: no-repeat;
    border: 2px solid #000000;
    border-radius: 12px;
    resize: none;
}

input {
    width: 150px;
    height: 40px;
    text-align: center;
    color: rgb(10, 7, 0);
    text-decoration: none;
    font-family: 'Oswald', Helvetica;
    border-radius: 12px;
    background-color: #c1fa8b;
    border: 2px solid green;
  }
  
  input:hover {
    background-color: green;
    color: white;
  }