<div class="container">
    <form (submit)="parseRoute()">
        <table>
            <tr>
                <th>
                    <label for="inputRoute"><h2>Camel Route</h2></label>
                </th>
            </tr>
            <tr>
                <th>
                    <textarea name="inputRoute" placeholder="Insert route here" [(ngModel)]="inputRoute"></textarea><br>
                </th>
            </tr>
            <tr>
                <th>
                    <input type="submit" value="Parse" />
                </th>
            </tr>
        </table>
    </form>
</div>