<h1 mat-dialog-title>Modify Channel Types</h1>
<div mat-dialog-content>
  <p>Here is the content of the channel</p>
  <mat-form-field appearance="fill">
    <mat-label>Source Type of channel: {{ data.source }} --> {{ data.dest }}</mat-label>
    <input matInput [(ngModel)]="data.sourceType">
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Dest Type of channel: {{ data.source }} --> {{ data.dest }}</mat-label>
    <input matInput [(ngModel)]="data.destType">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Exit</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>
